<h1>Range Testing</h1>

<b>WORKING SOLUTION</b>

<ul>
	{{ $json := .Site.Data.mydata }}

	{{ $.Scratch.Set "count" 10 }}



	{{ range $json }}

	{{ $feed := . }}

	{{ $vals := slice "cafe" "camel" }}

	{{ $cat := "crossbody"}}

	{{ if gt ($.Scratch.Get "count") 0 }}

	{{ $valfiltered := (where $feed.PARAM "VAL" "in" $vals)  }}

	{{ range $valfiltered }}


	{{ if in $feed.CATEGORYTEXT $cat }}
	
	<li>
		name: {{ $feed.PRODUCT }} | price: {{$feed.PRICE}}
	</li>

	{{ $.Scratch.Add "count" -1 }}


	{{ end }}

	{{ end }}

	{{ end }}

	{{ end }}



</ul>